<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%- content %></p>
    <form method="POST" action="/hello/post">
      <input type="text" name="message">
      <input type="submit" value="送信">
    </form>
  </body>
</html>
