<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <p>
      名前：<%= name %>
    </p>
    <p>
      メール：<%= mail %>
    </p>
    <p>
      年齢：<%= age %>
    </p>
  </body>
</html>
