<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%- title %></title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <h1><%- title %></h1>
    <p><%- content %></p>
    <table>
      <% for (let key in data) { %>
        <%- include('data_item', {key: key, val: data[key]}) %>
      <% } %>
    </table>
    <!-- <form method="POST" action="/">
      <p><input type="text" name="message"><input type="submit" value="送信"></p>
    </form> -->
    <!-- <p><a href="<%#- link.href %>"><%#- link.text %></a></p> -->
  </body>
</html>
