<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/add">
      <table>
        <tr>
          <th>TITLE</th>
        </tr>
        <tr>
          <td><input type="text" name="title" size="80"></td>
        </tr>
        <tr>
          <th>CONTENT</th>
        </tr>
        <tr>
          <td><textarea name="content" cols="80" rows="25"></textarea></td>
        </tr>
        <tr>
          <th><input type="submit" value="送信"></th>
        </tr>
      </table>
    </form>
    <p><a href="/">&lt;&lt; Topへ戻る</a></p>
  </body>
</html>
