<% if (val !== null) { %>
  <tr>
    <th><a href="/home/<%= val.attributes.user_id %>/1"><%= val.relations.user.attributes.name %> </a></th>
    <td><%= val.attributes.message %></td>
    <%
      const d = new Date(val.attributes.created_at);
      const dstr = `${d.getFullYear()}-${(d.getMonth() + 1)}-${d.getDate()} ${d.getHours()}:${d.getMinutes()}:${d.getSeconds()}`;
    %>
    <td><%= dstr %></td>
  </tr>
<% } %>
